<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mibfa.OCR.Service.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <Mibfa.OCR.Service.Library.Properties.Settings>
            <setting name="Mibfa_OCR_Service_Library_wsLogService_LogService"
                serializeAs="String">
                <value>https://oculus.mibfa.co.za/OculusLogging/LogService.asmx</value>
            </setting>
            <setting name="Mibfa_OCR_Service_Library_wsSecurity_Security"
                serializeAs="String">
                <value>https://oculus.mibfa.co.za/Oculus/Services/Security.asmx</value>
            </setting>
            <setting name="Mibfa_OCR_Service_Library_wsQueue_Queue" serializeAs="String">
                <value>https://oculus.mibfa.co.za/Oculus/Services/Queue.asmx</value>
            </setting>
            <setting name="Mibfa_OCR_Service_Library_wsLaunch_Launch" serializeAs="String">
                <value>https://oculus.mibfa.co.za/Oculus/Services/Launch.asmx</value>
            </setting>
        </Mibfa.OCR.Service.Library.Properties.Settings>
    </applicationSettings>
</configuration>
